body {
    background-color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
iframe {
    width: 100%;
    margin: 0px;
    border: 0px;
}
h1 {
    text-align: center;
    width: 100%;
}
.topnav {
    width: 100%;
    background-color: rgb(4, 0, 214);
    overflow: hidden;
    border-radius: 1em;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(145, 0, 0);
  color: white;
}
#scoresPanel {
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 1em;
    margin: 1em;;
    background-color: rgb(4, 0, 214);
}
.competitionGroup {
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: darkblue;
    padding: 1em;
    margin-bottom: 0.25em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 16px;
}
tr:hover {
    background-color: rgb(4, 0, 214);
}
.verticalNav {
    background-color: rgb(4, 0, 214);
    margin: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.verticalNav > a {
    background-color: darkblue;
    margin: 1em;
    text-decoration: none;
    padding: 1em;
    width: 100%;
    color: white;
}
.verticalNav > a:hover {
    background-color: rgb(145, 0, 0);
    color: white;
  }
.verticalNav > .account {
    width: 100%;
}